<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список фондов</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="/client/home"><img src="/icons/logo.jpeg" alt="Логотип" class="logo-img"></a>
        <h1>Рука Помощи</h1>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/client/profile">Личный кабинет</a></li>
            <li><a href="/application/client">Мои заявки</a></li>
            <li><a href="/application/new">Создать заявку</a></li>
            <li><a href="/fund/employee/client">Список фондов</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h2>Список фондов</h2>

    <div th:if="${funds.isEmpty()}">
        <p class="no-data">Фонды отсутствуют.</p>
    </div>

    <div th:if="${!funds.isEmpty()}">
        <table class="applications-table">
            <thead>
            <tr>
                <th>Название</th>
                <th>Электронная почта</th>
                <th>Адрес</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fund : ${funds}">
                <td th:text="${fund.getName()}"></td>
                <td th:text="${fund.getEmail()}"></td>
                <td th:text="${fund.getAddress()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<footer class="footer">
    <p>© Рука Помощи, 2024</p>
</footer>
</body>
</html>