<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация клиента</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="/employee/home"><img src="/icons/logo.jpeg" alt="Логотип" class="logo-img"></a>
        <h1>Рука Помощи</h1>
    </div>
</header>
<main class="main">
    <h1>Регистрация сотрудника</h1>
    <form th:method="POST" th:action="@{/auth/employee/register}" th:object="${registrationDto}" class="registration-form">
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required />
        </div>
        <div class="form-group">
            <label for="name">Полное имя:</label>
            <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
            <label for="position">Должность:</label>
            <input type="text" id="position" name="position" required />
        </div>
        <button type="submit" class="submit-btn">Зарегистрировать</button>
    </form>
</main>
<footer class="footer">
    <p>© Рука Помощи, 2024</p>
</footer>
</body>
</html>