<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="/employee/home"><img src="/icons/logo.jpeg" alt="Логотип" class="logo-img"></a>
        <h1>Рука Помощи</h1>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/employee/profile">Личный кабинет</a></li>
            <li><a href="/application/employee">Заявки</a></li>
            <li><a href="/client/employee">Клиенты</a></li>
            <li><a href="/employee">Сотрудники</a></li>
            <li><a href="/fund/employee">Фонды</a></li>
            <li><a href="/service/employee">Услуги</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h2>Профиль</h2>

    <div class="details-container">
        <div class="detail-item">
            <span class="detail-label">Идентификатор:</span>
            <span class="detail-value" th:text="${employee.getId()}"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Имя пользователя:</span>
            <span class="detail-value" th:text="${employee.getUsername()}"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Полное имя:</span>
            <span class="detail-value" th:text="${employee.getName()}"></span>
        </div>
        <div class="detail-item">
            <span class="detail-label">Должность:</span>
            <span class="detail-value" th:text="${employee.getPosition()}"></span>
        </div>
    </div>

    <div class="actions">
        <form th:action="@{/logout}" th:method="POST" class="inline-form">
            <button type="submit" class="action-btn approve-btn">Выйти из аккаунта</button>
        </form>
    </div>
</main>
<footer class="footer">
    <p>© Рука Помощи, 2024</p>
</footer>
</body>
</html>