<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная - Сотрудник</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header class="header">
    <div class="logo">
        <a href="/employee/home"><img src="/icons/logo.jpeg" alt="Логотип" class="logo-img"></a>
        <h1>Рука Помощи</h1>
    </div>
    <nav class="nav">
        <ul class="nav-list">
            <li><a href="/employee/profile">Личный кабинет</a></li>
            <li><a href="/application/employee">Просмотр заявок</a></li>
            <li><a href="/client/employee">Просмотр клиентов</a></li>
            <li><a href="/employee">Просмотр сотрудников</a></li>
            <li><a href="/fund/employee">Список фондов</a></li>
            <li><a href="/service/employee">Оказываемые услуги</a></li>
        </ul>
    </nav>
</header>
<main class="main">
    <h2>Добро пожаловать!</h2>
    <div class="welcome-text">
        <p>Вы можете управлять заявками, просматривать данные о клиентах, сотрудниках и фондах.</p>
    </div>
</main>
<footer class="footer">
    <p>© Рука Помощи, 2024</p>
</footer>
</body>
</html>